<p>crear-persona works!</p>

<form [formGroup]='personaForm' (ngSubmit)=submit()>
    <div class="">
        <mat-card class="container">
            <mat-card-title>Cargar Persona</mat-card-title>
    
            <div class="container">
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre: </mat-label>
                    <input type="text" formControlName="nombre" matInput placeholder="Juan">
                
                </mat-form-field>
            </div>
            <div class="container">
                <mat-form-field class="example-full-width">
                    <mat-label>Apellido: </mat-label>
                        <input type="text" formControlName="apellido" matInput placeholder="Muñoz">
                    
                </mat-form-field>
            </div>
            <div class="container">
                <mat-form-field class="example-full-width">
                    <mat-label>Edad: </mat-label>
                         <input type="number" formControlName="edad" matInput placeholder="20">
                    
                </mat-form-field>
            </div>
            <div class="container">
                <mat-form-field class="example-full-width">
                    <mat-label>Direccion: </mat-label>
                        <input type="text" formControlName="direccion" matInput placeholder="laprida 152">
                    
                </mat-form-field>
            </div>
            <mat-card-actions>
                <div>
                    <button mat-raised-button color="primary">Guardar</button>
                </div>
                
            </mat-card-actions>
                    
        </mat-card>
    </div>
</form>
